.forms-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10%;
}

.form-wrapper {
}

.form-wrapper h2 {
  width: 100%;
  white-space: nowrap;
}

.form-wrapper p,
.form-picture h4 {
  margin: 10px 0;
}

.form-picture img {
  width: 150px;
}

@media (max-width: 800px) {
  .forms-wrapper {
    flex-wrap: wrap;
  }
}
