.searchbar {
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  width: calc(30vw);
  margin-top: 100px;
}

.searchbar .input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
}

.searchbar .input:focus {
  outline: none;
}

.searchbar .search-btn {
  border: none;
  border-radius: 0;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}

.searchbar .search-btn:disabled {
  cursor: default;
  opacity: 0.8;
}

.searchbar .search-btn img {
  width: 15px;
}

@media screen and (max-width: 1240px) {
  .searchbar {
    width: calc(50vw);
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .searchbar {
    width: calc(80vw);
  }
}
