.character-detail {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.character-detail button {
  align-self: end;
}

.character-detail-image {
  max-width: 325px;
  height: auto;
  border-radius: 10px;
}

.character-info {
  padding-top: 10px;
}

.episodes {
  margin-top: 20px;
}

.episodes ul {
  list-style-type: none;
  padding: 0;
}

.episodes li {
  margin-bottom: 10px;
}
