.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchbar-section {
  position: relative;
  background-image: url('src/assets/main-bg.webp');
  background-size: cover;
  background-position: 50% 40%;
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.searchbar-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

@media screen and (max-width: 1024px) {
  .searchbar-section {
    height: 50vh;
  }
}

@media screen and (max-width: 640px) {
  .searchbar-section {
    height: 40vh;
  }
}

.characters-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
}
